In [1]:
import os
from getpass import getpass

In [2]:
# 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

In [3]:
HF_TOKEN = getpass()

 ········

In [24]:
# create llm model
from llama_index.llms.huggingface import HuggingFaceInferenceAPI
llm = HuggingFaceInferenceAPI(model_name="mistralai/Mistral-7B-Instruct-v0.3", token=HF_TOKEN)
llm

HuggingFaceInferenceAPI(callback_manager=<llama_index.core.callbacks.base.CallbackManager object at 0x000002C1E6176C50>, system_prompt=None, messages_to_prompt=<function messages_to_prompt at 0x000002C1F1B47920>, completion_to_prompt=<function default_completion_to_prompt at 0x000002C1F1BCA020>, output_parser=None, pydantic_program_mode=<PydanticProgramMode.DEFAULT: 'default'>, query_wrapper_prompt=None, model_name='mistralai/Mistral-7B-Instruct-v0.3', token='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', timeout=None, headers=None, cookies=None, task=None, context_window=3900, num_output=256, is_chat_model=False, is_function_calling_model=False)

In [25]:
import pandas as pd
from llama_index.experimental.query_engine.pandas import PandasQueryEngine

In [26]:
df = pd.read_csv("city.csv")

In [27]:
df.head()

            city  population
0      Nashville    12801892
1        Seattle     2099604
2     Louisville     7113579
3  Oklahoma City    12624429
4      Baltimore     2441358

In [28]:
df.tail()

                city  population
44        Long Beach     2508231
45             Tulsa     8096404
46             Omaha     4530904
47  Colorado Springs    10867552
48         Milwaukee     1917631

In [32]:
query_engine = PandasQueryEngine(df=df, llm=llm, verbose=True)

In [40]:
response = query_engine.query("What is the population of Seattle?")

> Pandas Instructions:
```
 df.loc[1, 'population']
```
> Pandas Output: 2099604

In [41]:
response = query_engine.query("what is the maximum population?")

> Pandas Instructions:
```
 df['population'].max()
```
> Pandas Output: 14730200

In [44]:
response = query_engine.query("What city has the maximum population? Give city name")

> Pandas Instructions:
```
 df.loc[df['population'].idxmax()]["city"]
```
> Pandas Output: Memphis

In [46]:
response = query_engine.query("What is the population of Memphis?")

> Pandas Instructions:
```
 df.loc[df['city'] == 'Memphis', 'population'].iloc[0]
```
> Pandas Output: 14730200

In [45]:
response = query_engine.query("Are there duplicate city?")

> Pandas Instructions:
```
 df['city'].duplicated().any()
```
> Pandas Output: False

In [47]:
response = query_engine.query("What are the city starting with alphabet 'A'?")

> Pandas Instructions:
```
 df[df['city'].str.startswith('A')]
```
> Pandas Output:            city  population
13      Atlanta     8597564
14       Austin     7935618
28  Albuquerque     5184044

In [48]:
response = query_engine.query("What are the city starting with alphabet 'M'?")

> Pandas Instructions:
```
 df[df['city'].str.startswith('M')]
```
> Pandas Output:            city  population
15        Miami      363890
16      Memphis    14730200
25         Mesa     6158803
27  Minneapolis     1817606
48    Milwaukee     1917631

In [49]:
response = query_engine.query("Sort city in ascending order")

> Pandas Instructions:
```

df.sort_values(by='city')
```
> Pandas Output:                 city  population
28       Albuquerque     5184044
13           Atlanta     8597564
14            Austin     7935618
4          Baltimore     2441358
22            Boston    10233798
10         Charlotte    14196973
26           Chicago     8015796
47  Colorado Springs    10867552
35          Columbus     3344168
43            Dallas     9087985
8             Denver     8996771
38           Detroit     1204637
29           El Paso     4494412
6         Fort Worth     4638855
20            Fresno     2763529
19           Houston    10848732
34      Indianapolis     6258170
36      Jacksonville     7325010
30       Kansas City      372773
31         Las Vegas    13060314
44        Long Beach     2508231
39       Los Angeles    11104585
2         Louisville     7113579
16           Memphis    14730200
25              Mesa     6158803
15             Miami      363890
48         Milwaukee     1917631
27       Minneapolis     1817606
0          Nashville    12801892
5        New Orleans     4063221
12          New York    11371162
33           Oakland    12843772
3      Oklahoma City    12624429
46             Omaha     4530904
7       Philadelphia     3353470
23           Phoenix     5634978
24          Portland    12593033
17           Raleigh     1987902
32        Sacramento    13545185
11       San Antonio     9751704
42         San Diego    13624583
37     San Francisco      979205
18          San Jose     3765303
1            Seattle     2099604
41            Tucson    14159373
45             Tulsa     8096404
40    Virginia Beach     7701545
9         Washington     8173865
21           Wichita      864192

In [50]:
response = query_engine.query("Sort city in descending order")

> Pandas Instructions:
```

df.sort_values(by='population', ascending=False)
```
> Pandas Output:                 city  population
16           Memphis    14730200
10         Charlotte    14196973
41            Tucson    14159373
42         San Diego    13624583
32        Sacramento    13545185
31         Las Vegas    13060314
33           Oakland    12843772
0          Nashville    12801892
3      Oklahoma City    12624429
24          Portland    12593033
12          New York    11371162
39       Los Angeles    11104585
47  Colorado Springs    10867552
19           Houston    10848732
22            Boston    10233798
11       San Antonio     9751704
43            Dallas     9087985
8             Denver     8996771
13           Atlanta     8597564
9         Washington     8173865
45             Tulsa     8096404
26           Chicago     8015796
14            Austin     7935618
40    Virginia Beach     7701545
36      Jacksonville     7325010
2         Louisville     7113579
34      Indianapolis     6258170
25              Mesa     6158803
23           Phoenix     5634978
28       Albuquerque     5184044
6         Fort Worth     4638855
46             Omaha     4530904
29           El Paso     4494412
5        New Orleans     4063221
18          San Jose     3765303
7       Philadelphia     3353470
35          Columbus     3344168
20            Fresno     2763529
44        Long Beach     2508231
4          Baltimore     2441358
1            Seattle     2099604
17           Raleigh     1987902
48         Milwaukee     1917631
27       Minneapolis     1817606
38           Detroit     1204637
37     San Francisco      979205
21           Wichita      864192
30       Kansas City      372773
15             Miami      363890